{% extends 'base.html.twig' %}

{% block title %}RaveShop - Mon Panier{% endblock %}

{% block content %}
<div class="block-small">
  <small><a href="{{ path('app_home') }}">Accueil</a> / <a href="{{ path('products')}}">Touts les produits</a></small>
  <h1>Mon Panier</h1>
  Retrouvez les produits que vous avez ajouté à votre panier !

  {% if cart | length > 0 %}
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col"></th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% set total = null %}
      {% for product in cart %}
      <tr>

        <th scope="row">
          <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px">
        </th>
        <td>{{ product.product.name}}<br>
          <small>{{ product.product.subtitle}}</small>
        </td>
        <td>
          <a href="{{ path('delete_quantity_product', { 'id' : product.product.id })}}">
            <i class="fa-solid fa-minus"></i> 
          </a>
          x {{ product.quantity}}
          <a href="{{ path('add_to_cart', { 'id' : product.product.id })}}">
           <i class="fa-solid fa-plus"></i> 
          </a>
        </td>
        <td>{{ (product.product.price / 100) | number_format(2, ',','.') }} €</td>
        <td>{{ ((product.product.price * product.quantity ) / 100) | number_format(2, ',','.') }} €</td>
        <td>
          <a href="{{ path('delete_my_product', { 'id' : product.product.id })}}">
            <img src="{{ asset('assets/img/delete.png')}}" alt="supprimer">
          </a>
        </td>

      </tr>
      {% set total = total + (product.product.price * product.quantity) %}
      {% endfor %}
    </tbody>
  </table>
  <div class="text-right mb-5">
    <b>Nombre de produit(s) :</b> {{ cart | length }}<br>
    <b>Total de mon panier :</b> {{ (total / 100) | number_format(2, ',','.') }} €<br>
    <a href="{{ path('app_order')}}" class="btn btn-success mt-3">Valider mon panier</a>
  </div>
</div>
  {% else %}
  <hr>
  <h2> Oops, votre panier est vide</h2>
  <img src="{{ asset('assets/img/panier-vide.jpg')}}" alt="panier vide" class="panier-vide">
  {% endif %}

<div class="similary">
</div>
{% endblock %}