{% extends 'base.html.twig' %}

{% block title %}RaveShop - Mon Panier{% endblock %}

{% block content %}

<h1 class="ml-3">Mon Panier</h1>

<p class="ml-3">Retrouvez les produits que vous avez ajouté à votre <em>panier</em> !</p>

<div class="text-center">
<ul class="ariane-pay"><li><span id="stronger"><i class="fa-solid fa-cart-shopping"></i></span></li>
<li><i class="fa-solid fa-truck-fast"></i></li>
<li><i class="fa-sharp fa-solid fa-thumbs-up"></i></li>
<li><i class="fa-regular fa-credit-card"></i></li>
<li><i class="fa-solid fa-face-grin-hearts"></i></li>
</ul>
</div>

<div class="panier">
  {% if cart | length > 0 %}
  {#} Si dans le panier il y à plus que 0 article{#}
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col"></th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% set total = null %}
      {% for product in cart %}
      {#} Pour chaque produit dans le panier {#}
      <tr>

        <th scope="row">
          <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px">
        </th>
        <td>{{ product.product.name}}<br>
          <small>{{ product.product.subtitle}}</small>
        </td>
        <td>
          <a href="{{ path('delete_quantity_product', { 'id' : product.product.id })}}">
            <i class="fa-solid fa-minus"></i>
          </a>
          x {{ product.quantity}}
          <a href="{{ path('add_to_cart', { 'id' : product.product.id })}}">
            <i class="fa-solid fa-plus"></i>
          </a>
        </td>
        <td>{{ (product.product.price / 100) | number_format(2, ',','.') }} €</td>
        <td>{{ ((product.product.price * product.quantity ) / 100) | number_format(2, ',','.') }} €</td>
        <td>
          <a href="{{ path('delete_my_product', { 'id' : product.product.id })}}">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>

      </tr>
      {% set total = total + (product.product.price * product.quantity) %}
      {#} Je set le total avec le prix du produit multiplié par sa quantité {#}
      {% endfor %}
    </tbody>
  </table>
  <div class="text-right mb-5">
    <b>Nombre de produit(s) :</b> {{ cart | length }}<br>
    {#} Je compte le nombre de produit grace à la fonction length {#}
    <b>Total de mon panier :</b> {{ (total / 100) | number_format(2, ',','.') }} €<br>
    <a href="{{ path('app_order')}}" class="button-custom mt-3">Valider mon panier</a>
  </div>
</div>
{% else %}
<small><a href="{{ path('products')}}">Commencer mon shopping</a></small>
<hr>
<h2> Oops, votre panier est vide</h2>
<img src="{{ asset('assets/img/panier-vide.jpg')}}" alt="panier vide" class="panier-vide">
{% endif %}

{% endblock %}