{% extends 'base.html.twig' %}

{% block title %}RaveShop - Mon compte{% endblock %}

{% block content %}
<div class="wrapper">
<h1 class="text-center mt-3 ">Mon Compte</h1>
{% if is_granted('ROLE_ADMIN') %}
<small><a href="{{ path('admin')}}">Vous êtes administrateur, cliquez ici pour accéder au back-office</a></small><br>
{% endif %}
<p class="text-center mt-3">Bienvenue dans votre compte <b>{{ app.user.firstname }}</b> !<br>
Ici vous pouvez modifier toutes les informations relatives à votre compte.</p><br>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="account-item"><a href="{{ path('app_account_password') }}"><i class="fa-solid fa-unlock"></i> Modifier mon mot de passe</a></div>
    </div>
    <div class="col-md-4">
        <div class="account-item"><a href="{{ path('app_account_address') }}"><i class="fa-solid fa-house-user"></i> Modifier mes adresses</a></div>
    </div>
    <div class="col-md-4">
        <div class="account-item"><a href="{{ path('app_account_order') }}"><i class="fa-solid fa-bag-shopping"></i> Mes commandes</a></div>
    </div>
</div>

</hr>
</div>
<div class="similary">
</div>

{% endblock %}