{% extends 'base.html.twig' %}

{% block title %}RaveShop - Ma commande
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1 class="text-center mt-3">Ma commande n°<small>{{ order.reference }}</small>
  </h1>
  <a href="{{ path('app_account_order')}}">Retour</a>

  <div class="row">
    <div class="col-md-4">
      <div class="block-client">
        <strong>Client</strong> :<br>
        {{order.delivery | raw }}<br>
        <strong>Commande effectué le :</strong>
        {{ order.createdAt|date('d/m/Y')}}<br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block-client">
        <strong>Statut de la commande:</strong>
        {% if order.state == 1 %}
        <span class="badge bg-primary">Paiement Accepté</span>
        {% elseif order.state == 2 %}
        <span class="badge bg-secondary">En cours de préparation</span>
        {% elseif order.state == 3 %}
        <span class="badge bg-success">En cours de livraison</span>
        {% endif %}
      </div>
      <br>
    </div>
    <div class="col-md-4">
      <div class="block-client">
        <strong>Référence de la commande :</strong>
        {{ order.reference }}<br>
        <strong>Transporteur choisi :</strong>
        {{ order.careerName }}<br>
      </div>

    </div>
  </div>
  <strong><p class="mt-3 mb-3">Détails</p>
  </strong><br>
 <div class="block-client">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix Unitaire</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for product in order.orderDetails %}
      <tr>
        <th scope="row">{{ product.product }}</th>
        <td>x
          {{ product.quantity }}</td>
        <td>{{ (product.price / 100)|number_format(2,',','.') }}
          €</td>
        <td>{{ (product.total / 100)|number_format(2,',','.') }}
          €</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div class="prix-order">
    <strong>Sous-Total :</strong>
    {{ (order.gettotal / 100)|number_format(2,',','.') }}
    €<br>
    <strong>Livraison :</strong>
    {{ (order.carrerprice / 100)|number_format(2,',','.') }}
    €<br>
    <strong>Total :</strong>
    {{   ((order.getTotal + order.carrerPrice) / 100)|number_format(2,',',',') }}
    €<br>
    <span class="text-center">
      <a href="{{ path('app_receipt', { 'id': order.id })}}">
        <i class="fa-solid fa-download"></i>
        Ma facture</a>
    </span><br>
  </div>
</div>
{% endblock %}