<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset("assets/css/pdf.css") }}">
    <title>Facture référence n° {{ order.createdAt|date('d-m-Y') }}</title>
</head>

<body>
    <div id="top">
        <h1>FACTURE</h1>
        <img src="{{ asset("assets/img/logo.png") }}" alt="logo">
    </div>

    <p id="head">A l'attention de {{ order.user.firstname ~ " " ~ order.user.lastname }}</p>

    <div id="infoFactu">
        <div>
            <strong>Facturé à</strong>
            <p>
                {{ order.user.firstname }}<br>
                {{ order.user.lastname }}<br>
            </p>
        </div>

        <div>
            <strong>Envoyé à</strong>
            <p>
                {{ order.delivery |raw }}<br>
                <br>

            </p>
        </div>
        <div>
            <strong>Livré par</strong>
            <p>
                {{ order.careerName }}<br>
                {{ (order.carrerPrice / 100 ) }} €<br>
                <br>

            </p>
        </div>

        <div>
            <p>
                Référence commande : <br>
                Payé le : {{ order.createdAt|date('d-m-Y') }}
            </p>
        </div>
    </div>

    <table class="table-recap">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        {% set total = 0 %}
        <tbody>
            <tr>
                <td></td><br>
                <td></td><br>
                <td></td><br>
                <td>{{ order.total / 100 }} €</td><br>
            </tr>
        </tbody>
    </table>
    <div id="right">
        <strong>Sous-Total :</strong> {{ (order.gettotal / 100)|number_format(2,',','.') }} €<br>
        <strong>Livraison :</strong> {{ (order.carrerPrice / 100) }} €<br>
        <strong>Total :</strong>{{   ((order.getTotal + order.carrerPrice) / 100)|number_format(2,',',',') }}€
    </diV>

    <h2>MERCI, ET A BIENTOT !</h2>

</body>

</html>