{% extends 'base.html.twig' %}

{% block content %}

{#} VIDEO D'ACCUEIL {#}

<div class="contenant">
        <a href="{{ path('products')}}">
                <video id="background-video" preload="auto" autoplay loop muted>
                        {#} preload: auto -> le fichier entier peut être téléchargé, même si l'utilisateur ne s'en sert pas {#}
                        {#} autoplay loop muted -> la vidéo doit être jouée en boucle {#}
                        <source src="{{ asset('assets/img/home2.mp4') }}" type="video/mp4">
                </video>
        </a>
</div>

{#} NEWSLETTER {#}

<article id="article-newsletter">
        <section id="news-title">
                <h2>Newsletter</h2>
        </section>

        <section id="what">
                <p><strong>Inscrivez-vous à la newsletter Rave Shop.</strong><br>
                        <em>Bénéficiez de 10% de réduction sur votre première commande<em></p>
        </section>

        <section id="go">
                {{ form_start(form) }}
                {{ form_widget(form.email) }}
                {{ form_end(form) }}
        </section>
</article>

{#} NOS RAYONS {#}

<h2 class="title-h2"> Nos rayons</h2>
<p id="p-home"> Découvrez les articles par rayons<p>
                <div id="back">
                        <div class="card-cat">
                                <a href="{{path('produit_categorie',{'id':6})}}">
                                        {#} J'indique dans le chemin qu'on souhaite afficher la catégorie ayant l'ID numéo 6 {#}
                                        <img src="{{ asset('uploads/sweat-heart.jpg')}}" alt="Sweatshirt"
                                                class="image"></a>
                                <div class="centered">Sweatshirt</div>
                        </div>


                        <div class="card-cat">
                                <a href="{{path('produit_categorie',{'id':5})}}">
                                        <img src="{{ asset('uploads/pic3.jpg')}}" alt="Bas"></a>

                                <div class="centered">Bas</div>
                        </div>


                        <div class="card-cat">
                                <a href="{{path('produit_categorie',{'id':1})}}">
                                        <img src="{{ asset('uploads/pic4.jpg')}}" alt="Veste">
                                </a>
                                <div class="centered">Veste</div>
                        </div>

                        <div class="card-cat">
                                <a href="{{path('produit_categorie',{'id':3})}}">
                                        <img src="{{ asset('uploads/pic5.jpg')}}" alt="Tshirt">
                                </a>
                                <div class="centered">Tshirt</div>
                        </div>
                </div>

                {#} NOUVEAUTES {#}
                <div class="news">
                        <h2 class="title-h2">Nos nouveautés</h2>
                        <p id="p-home"> Découvrez les articles sortie récemment<p>
                                        <div class="home-container">

                                                {% for product in products %}
                                                {#} Pour chaque produit dans le tableau des produits 'nouveaux' {#}
                                                {% include 'product/single_product.html.twig' %}
                                                {% endfor %}
                                        </div>
                </div>

                {#} BANNIERE ACCESSOIRE {#}

                <div id="banner"> 
                        <h1>Découvrez nos accessoires</h1>
                        <p>Peinture néon, paillettes, bijoux, l'originalité c'est par ici</p>
                        <a href="{{path('produit_categorie',{'id':4})}}">Allez voir</a>
                </div>

                {#} A PROPOS DE NOUS {#}

                <div class="about-us">
                        <h2> À propos de nous </h2>
                        Bienvenue chez Rave Shop, votre <strong>boutique en ligne<strong> numéro un qui vous offre les
                                        meilleurs
                                        produits.
                                        Vous pouvez choisir parmi les meilleurs <em>vêtements et accessoires<em> de
                                                        notre offre.
                </div>

                {% endblock %}