{% extends 'base.html.twig' %}

{% block title %}RaveShop | Wishlist {% endblock %}

{% block content %}
	<div class="wrapper">
		<h1 class="text-center mt-3">Ma Wishlist</h1>
		Ici vous pouvez retrouver tous vos articles préférées !<br>
		<a href="{{ path('app_account')}}">Retour</a>


		{% if wishlist.products is empty %}

		<p>Votre wishlist est vide !</p>

		{% else %}

		<table>
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Acheter</th>
				</tr>
			</thead>
			<tbody>
				{% for product in wishlist.products %}
					<tr>
						<td><a href="{{ path("product", {'slug':product.slug}) }}"><img
									src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" height="75px" width="75px"></a>
							<a href="{{ path("product", {'slug':product.slug}) }}">{{ product.name }}</a> <a class="a-delete"
								href="{{ path("del_wishlist", {'id':product.id}) }}">Supprimer</a></td>
						<td class="center">{{ product.price / 100}} €</td>
						<td class="center"><a href="{{ path("add_to_cart", {'id':product.id}) }}"><i
									class="fa-solid fa-cart-shopping"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
{% endblock %}