{% extends 'base.html.twig' %}

{% block title %}RaveShop - {{ product.name }}{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3> {{ product.name }} </h3>
            <p>{{ product.subtitle }}</p>
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star" data-value="1"></i><i class="fa-sharp fa-solid fa-star" data-value="2"></i><i class="fa-sharp fa-solid fa-star" data-value="3"></i><i class="fa-sharp fa-solid fa-star" data-value="4"></i><i class="fa-sharp fa-solid fa-star" data-value="5"></i>
            </div>
            <input type="hidden" name="note" id="note" value="0"></input>
            <span class="product-show-price">{{ (product.price / 100) | number_format(2, ',','.') }}€</span>
            <hr>
            <p>{{ product.description }}</p>

            <a href="{{ path('add_to_cart', { id : product.id })}}" class="btn btn-primary">Ajouter au panier</a>
        </div>

    </div>
    <hr>

    <h2>Nos Bestsellers</h2>
    <p>Découvrez les articles les plus vendus<p>
            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
                {% endfor %}
            </div>
</div>


{% endblock %}