<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	{#} Encodage des caractères à destination des navigateurs existe aussi (ISO-8859-1) pour HTML 4 et XHTML {#}

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{#} Zone de la fenêtre dans laquelle le contenu web peut être vu {#}

	<meta name="description"
		content="Boutique en ligne vêtements et accessoires, Créez ta tenue originale pour préparer ta prochaine rave ou festival.  Achetez un design unique pour hommes et femmes.">
	{#} Balise meta description permets d'informer les moteurs de recherche ainsi que les internautes du contenu de la page indexer (mots clefs) {#}
	<title>
		{% block title %}RaveShop | Positive Attitude
		{% endblock %}
	</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ asset('assets/css/custom.css')}}" rel="stylesheet">
	{#} Définit une feuille de style alternative ou une feuille de style préférée {#}

	<!-- Icone onglet -->
	<link rel="icon" href="{{ asset('assets/img/logo.png')}}" title="Accueil">
	{#} Asset permet de générer une url basée sur le dossier "public" de façon automatique {#}
	{% block javascript %}
	{% endblock %}

</head>

<body>
	<header>
		<nav>
			<div>
				<a href="{{ path('app_home') }}"><img src="{{ asset('assets/img/logo.png')}}" alt="logo"
						class="logo"></a>
				{#} La fonction path() et en utilisant le nom de la route choisie au moment de sa création {#}
				<i class="fa-solid fa-bars fa-2xl dnone" id="burger"></i>
			</div>
			<ul id="menu1">
				<li>
					<a href="{{ path('products')}}">Boutique</a>
				</li>
			</ul>
			<ul id="menu2">
				{% if not app.user %}
				{#} Si aucun utilisateur est connecter {#}
				<li>
					<a href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li>
					<a href="{{ path('app_register') }}">S'enregistrer</a>
				</li>
				{% else %}
				{% if is_granted("ROLE_ADMIN") %}
				{#} Si l'utilisateur à le role d'Administrateur {#}
				<li>
					<a href="{{ path('admin') }}" target="_blank">ꓥDMIN</a>
				</li>
				{% endif %}
				<li>
					<a href="{{ path('app_cart')}}">
						<i class="fa-solid fa-basket-shopping" title="panier"></i>
						<span id="bulle">{{ CartService.CartQuantity }}</span>
						{#} On appelle le cart service pour afficher le nombre de produit dans le panier garce à la fonction CartQuantity{#}
					</a>
				</li>
				<li>
					<a href="{{ path('app_account') }}">Mon compte
						<small>({{ app.user.firstname }})</small>
					</a>
				</li>
				<li>
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</li>

				{% endif %}
			</ul>
		</nav>
		{% for message in app.flashes("message") %}

		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
		</div>

		{% endfor %}
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<!-- FOOTER -->
	<footer>
		<div class="container-footer">
			<div class="list-footer">
				<ul>
					<li><a href="{{ path('app_contact')}}">Contact</a></li>
				</ul>
			</div>
			<div class="list-footer">
				<ul>
					<li><a href="{{ path('mentions')}}">Mentions légale</a></li>
				</ul>
			</div>
			<div class="list-footer">
				<ul>
					<li><a href="{{ path('cgu')}}">CGU</a></li>
				</ul>
			</div>


			<div class="list-footer">
				<ul>
					<li><a href="{{ path('confidentialite')}}">Politique de
							cofidentialité</a></li>
				</ul>
			</div>
			<div class="black">
				<div class="list-footer">
					<a target="_blank" href="https://www.facebook.com/">
						<i class="fa-brands fa-facebook"></i>
						{#} Lien externe qui s'ouvre dans un nouvel onglet grace à target _blank {#}
					</a>
					<a target="_blank" href="https://www.instagram.com/">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
				<div class="list-footer">
					© 2022, RꓥVESHOP
					<i class="fa-solid fa-heart-pulse"></i>
				</div>
			</div>
		</div>
	</footer>
</body>

{% block script %}
<script type="text/javascript">
    var tarteaucitronForceLanguage = "fr";
</script>
<script src="/tarteaucitron/tarteaucitron.js"></script>
<script src="{{ asset('assets/js/tarteaucitron.js') }}"></script>
<script src="https://kit.fontawesome.com/3f1f47ed70.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js')}}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>

{% endblock %}

</html>