{% extends 'base.html.twig' %}

{% block title %}RaveShop | Valider ma commande{% endblock %}

{% block content %}

<div class="wrapper">
    <h2 class="mt-3">RaveShop - Commande</h2>
    <ul class="ariane-pay">
        <li><i class="fa-solid fa-cart-shopping"></i></li>
        <li><i class="fa-solid fa-truck-fast"></i></li>
        <li><span id="stronger"><i class="fa-sharp fa-solid fa-thumbs-up"></i></span></li>
        <li><i class="fa-regular fa-credit-card"></i></li>
        <li><i class="fa-solid fa-face-grin-hearts"></i></li>
    </ul>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong><br>
            <div class="form-check">
                {{ delivery| raw }}
            </div>
            <hr>
            <strong> Mon Transporteur</strong><br>
            <div class="form-check mt-2">
                {{ career.name }}<br>
                {{ career.description }}<br>
                {{ (career.price / 100)| number_format(2, ',','.') }} €
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h5 class="mt-3">Récapitulatif de ma commande</h5><br>
                <p>Retrouvez le récapitulatif de vos produits<p>
            </div>
            <div class="block-small mt-3">
                {% set total = null %}
                {% for key, product in cart %}
                <div class="row">
                    <div class="col-2">
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"
                            class="img-prod">
                    </div>
                    <div class="col-8 my-auto">
                        <b>{{ product.product.name }}</b><br>
                        <small>{{ product.product.description }}
                            <br>
                            x {{ product.quantity }}
                        </small>
                    </div>
                    <div class="col-2">
                        {{ ((product.product.price * product.quantity ) / 100) | number_format(2, ',','.') }} €
                    </div>

                    {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}
                    <div class="recap-prix"><strong>Sous-Total: </strong>{{ (total / 100) | number_format(2, ',','.') }}
                        €<br>
                        <strong>Livraison: </strong>{{ (career.price / 100) | number_format(2, ',','.') }} €<br>
                        <strong>Total: </strong>{{ ((total / 100) + (career.price / 100))| number_format(2, ',','.') }}
                        €<br>
                    </div>
                    <a href="{{ path('stripe_create_session', {'reference': reference}) }}"
                        class="btn btn-success btn-block mt-3" id="checkout-button">Payer |
                        <b>{{ ((total / 100) + (career.price / 100))| number_format(2, ',','.') }} €</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

{% block script %}
<script>
    var stripe = Stripe(
        'sk_test_51L6amqAgDjI611jf49n3RURuEVn6KbawPxt0CKby4wsENM9plWmKeqkq7Cm3Sl1W4JcvjewbvVCBrwyA5knu6b2500QdV5lalL'
        );
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function ()) {
    fetch("{{ path('stripe_create_session', {'reference': reference}) }}", {
            method: "POST",

        })
        .then(function (session) {
            if (!session.error == 'order') {
                // redirection
                window.location.replace('{{ path('app_order')}}')
            } else {
                return stripe.redirectToCheckout({
                    sessionId: session.id
                });
            }
        })
        .then(function (result) {
            if (results.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://kit.fontawesome.com/3f1f47ed70.js" crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}
